.is-invalid {
    background-color: #fef2f2;
    border-width: 1px;
    border-style: solid;
    border-color: #f56565;
    color: #742a2a;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    outline-color: #f56565;
    box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.5);
    background-color: #4a5568;
    display: block;
    width: 100%;
    padding: 0.625rem;
}
